/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #264653;
}
h1 .color{
    color: #E76F51;
}
h6 {
    color: #E76F51;
}

.honda-btn-read-more {
    background-color: #E76F51;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
}
.honda-btn-read-more-2 {
    font-weight: bold;
    border: 1px solid #E76F51;
    color: #E76F51;
    padding: 10px 45px;
    border-radius: 5px;
    background-color: white;
}
p.name {
    color: #23A6F0;
}
.icon {
    color: #E77C40;
}